src/main/resources/schemas/meter_reading.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:a="http://langdale.com.au/2005/Message#" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" targetNamespace="http://iec.ch/TC57/2009/MeterReadings#" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://langdale.com.au/2005/Message#" xmlns:m="http://iec.ch/TC57/2009/MeterReadings#">
    <xs:element name="MeterReadings" type="m:MeterReadings" />
    <xs:complexType name="MeterReadings">
        <xs:sequence>
            <xs:element name="MeterReading" type="m:MeterReading" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ReadingType" type="m:ReadingType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EndDeviceEvent" sawsdl:modelReference="http://iec.ch/TC57/CIMgeneric# EndDeviceEvent">
        <xs:sequence>
            <xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.mRID" />
            <xs:element name="category" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ActivityRecord.category" />
            <xs:element name="createdDateTime" minOccurs="1" maxOccurs="1" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ActivityRecord.createdDateTime" />
            <xs:element name="reason" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ActivityRecord.reason" />
            <xs:element name="severity" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ActivityRecord.severity" />
            <xs:element name="userID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#EndDeviceEvent.userID" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MeterAsset" sawsdl:modelReference="http://iec.ch/TC57/CIMgeneric# MeterAsset">
        <xs:sequence>
            <xs:element name="mRID" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.mRID" />
            <xs:element name="status" minOccurs="0" maxOccurs="1" type="m:Status" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Asset.status" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MeterReading" sawsdl:modelReference="http://iec.ch/TC57/CIMgeneric# MeterReading">
        <xs:sequence>
            <xs:element name="CustomerAgreement" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIMgeneric# MeterReading.CustomerAgreement">
                <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/CIMgeneric# CustomerAgreement">
                    <xs:sequence>
                        <xs:element name="mRID" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.mRID" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="EndDeviceEvents" minOccurs="0" maxOccurs="unbounded" type="m:EndDeviceEvent" sawsdl:modelReference="http://iec.ch/TC57/CIMgeneric# MeterReading.EndDeviceEvents" />
            <xs:element name="IntervalBlocks" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#MeterReading.IntervalBlocks">
                <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IntervalBlock">
                    <xs:sequence>
                        <xs:element name="IntervalReadings" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IntervalBlock.IntervalReadings">
                            <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IntervalReading">
                                <xs:sequence>
                                    <xs:element name="timeStamp" minOccurs="1" maxOccurs="1" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#MeasurementValue.timeStamp" />
                                    <xs:element name="value" minOccurs="0" maxOccurs="1" type="xs:float" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IntervalReading.value" />
                                    <xs:element name="ReadingQualities" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IntervalReading.ReadingQualities">
                                        <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ReadingQuality">
                                            <xs:sequence>
                                                <xs:element name="quality" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ReadingQuality.quality" />
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Pending" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IntervalBlock.Pending">
                            <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Pending">
                                <xs:sequence>
                                    <xs:element name="multiplyBeforeAdd" minOccurs="0" maxOccurs="1" type="xs:boolean" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Pending.multiplyBeforeAdd" />
                                    <xs:element name="offset" minOccurs="0" maxOccurs="1" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Pending.offset" />
                                    <xs:element name="scalarDenominator" minOccurs="0" maxOccurs="1" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Pending.scalarDenominator" />
                                    <xs:element name="scalarFloat" minOccurs="0" maxOccurs="1" type="xs:float" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Pending.scalarFloat" />
                                    <xs:element name="scalarNumerator" minOccurs="0" maxOccurs="1" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Pending.scalarNumerator" />
                                    <xs:element name="ReadingType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Pending.ReadingType">
                                        <xs:complexType sawsdl:modelReference="">
                                            <xs:attribute name="ref" type="xs:string" />
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ReadingType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IntervalBlock.ReadingType">
                            <xs:complexType sawsdl:modelReference="">
                                <xs:attribute name="ref" type="xs:string" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="MeterAsset" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#MeterReading.MeterAsset">
                <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#MeterAsset">
                    <xs:sequence>
                        <xs:element name="mRID" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.mRID" />
                        <xs:element name="status" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Asset.status">
                            <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Status">
                                <xs:sequence>
                                    <xs:element name="value" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Status.value" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Readings" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#MeterReading.Readings">
                <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Reading">
                    <xs:sequence>
                        <xs:element name="timeStamp" minOccurs="1" maxOccurs="1" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#MeasurementValue.timeStamp" />
                        <xs:element name="value" minOccurs="0" maxOccurs="1" type="xs:float" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Reading.value" />
                        <xs:element name="ReadingQualities" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Reading.ReadingQualities">
                            <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ReadingQuality">
                                <xs:sequence>
                                    <xs:element name="quality" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ReadingQuality.quality" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ReadingType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Reading.ReadingType">
                            <xs:complexType sawsdl:modelReference="">
                                <xs:attribute name="ref" type="xs:string" />
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ServiceDeliveryPoint" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIMgeneric# MeterReading.ServiceDeliveryPoint">
                <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/CIMgeneric# ServiceDeliveryPoint">
                    <xs:sequence>
                        <xs:element name="mRID" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.mRID" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pending" sawsdl:modelReference="http://iec.ch/TC57/CIMgeneric# Pending">
        <xs:sequence>
            <xs:element name="multiplyBeforeAdd" minOccurs="0" maxOccurs="1" type="xs:boolean" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Pending.multiplyBeforeAdd" />
            <xs:element name="offset" minOccurs="0" maxOccurs="1" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Pending.offset" />
            <xs:element name="scalarDenominator" minOccurs="0" maxOccurs="1" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Pending.scalarDenominator" />
            <xs:element name="scalarFloat" minOccurs="0" maxOccurs="1" type="xs:float" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Pending.scalarFloat" />
            <xs:element name="scalarNumerator" minOccurs="0" maxOccurs="1" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Pending.scalarNumerator" />
            <xs:element name="ReadingType" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Pending.ReadingType">
                <xs:complexType sawsdl:modelReference="">
                    <xs:attribute name="ref" type="xs:string" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReadingQuality" sawsdl:modelReference="http://iec.ch/TC57/CIMgeneric# ReadingQuality">
        <xs:sequence>
            <xs:element name="quality" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ReadingQuality.quality" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReadingType" sawsdl:modelReference="http://iec.ch/TC57/CIMgeneric# ReadingType">
        <xs:sequence>
            <xs:element name="mRID" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.mRID" />
            <xs:element name="aliasName" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.aliasName" />
            <xs:element name="channelNumber" minOccurs="0" maxOccurs="1" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ReadingType.channelNumber" />
            <xs:element name="defaultQuality" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ReadingType.defaultQuality" />
            <xs:element name="defaultValueDataType" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIMgeneric# ReadingType.defaultValueDataType" />
            <xs:element name="dynamicConfiguration" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIMgeneric# ReadingType.dynamicConfiguration" />
            <xs:element name="intervalLength" minOccurs="0" maxOccurs="1" type="m:Seconds" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ReadingType.intervalLength" />
            <xs:element name="kind" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ReadingType.kind">
                <xs:simpleType sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ReadingKind">
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="current" />
                        <xs:enumeration value="currentAngle" />
                        <xs:enumeration value="date" />
                        <xs:enumeration value="demand" />
                        <xs:enumeration value="energy" />
                        <xs:enumeration value="other" />
                        <xs:enumeration value="phaseAngle" />
                        <xs:enumeration value="power" />
                        <xs:enumeration value="powerFactor" />
                        <xs:enumeration value="pressure" />
                        <xs:enumeration value="time" />
                        <xs:enumeration value="voltage" />
                        <xs:enumeration value="voltageAngle" />
                        <xs:enumeration value="volume" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="multiplier" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ReadingType.multiplier">
                <xs:simpleType sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#UnitMultiplier">
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="G" />
                        <xs:enumeration value="M" />
                        <xs:enumeration value="T" />
                        <xs:enumeration value="c" />
                        <xs:enumeration value="d" />
                        <xs:enumeration value="k" />
                        <xs:enumeration value="m" />
                        <xs:enumeration value="micro" />
                        <xs:enumeration value="n" />
                        <xs:enumeration value="none" />
                        <xs:enumeration value="p" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.name" />
            <xs:element name="reverseChronology" minOccurs="0" maxOccurs="1" type="xs:boolean" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ReadingType.reverseChronology" />
            <xs:element name="unit" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ReadingType.unit">
                <xs:simpleType sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#UnitSymbol">
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="A" />
                        <xs:enumeration value="F" />
                        <xs:enumeration value="H" />
                        <xs:enumeration value="Hz" />
                        <xs:enumeration value="Hz-1" />
                        <xs:enumeration value="J" />
                        <xs:enumeration value="J/s" />
                        <xs:enumeration value="N" />
                        <xs:enumeration value="Pa" />
                        <xs:enumeration value="S" />
                        <xs:enumeration value="V" />
                        <xs:enumeration value="V/VAr" />
                        <xs:enumeration value="VA" />
                        <xs:enumeration value="VAh" />
                        <xs:enumeration value="VAr" />
                        <xs:enumeration value="VArh" />
                        <xs:enumeration value="W" />
                        <xs:enumeration value="W/Hz" />
                        <xs:enumeration value="W/s" />
                        <xs:enumeration value="Wh" />
                        <xs:enumeration value="deg" />
                        <xs:enumeration value="g" />
                        <xs:enumeration value="h" />
                        <xs:enumeration value="kg/J" />
                        <xs:enumeration value="m" />
                        <xs:enumeration value="m2" />
                        <xs:enumeration value="m3" />
                        <xs:enumeration value="min" />
                        <xs:enumeration value="none" />
                        <xs:enumeration value="ohm" />
                        <xs:enumeration value="rad" />
                        <xs:enumeration value="s" />
                        <xs:enumeration value="s-1" />
                        <xs:enumeration value="ºC" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Status" sawsdl:modelReference="http://iec.ch/TC57/CIMgeneric# Status">
        <xs:sequence>
            <xs:element name="dateTime" minOccurs="0" maxOccurs="1" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Status.dateTime" />
            <xs:element name="reason" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Status.reason" />
            <xs:element name="value" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Status.value" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Seconds" sawsdl:modelReference="http://iec.ch/TC57/CIMgeneric# Seconds">
        <xs:restriction base="xs:float" />
    </xs:simpleType>
</xs:schema>
